main {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
      "ingredients instructions instructions instructions"
      "ingredients instructions instructions instructions"
      "ingredients image image image"
      "ingredients facts facts facts";
    grid-gap: 5px;
    width: 100%;
  }
  
  .ingredients {
    grid-area: ingredients;
    background: rgb(255, 211, 211);
    padding: 10px;
  }
  
  .instructions {
    grid-area: instructions;
  }
  
  .image {
    grid-area: image;
  }
  .facts {
    grid-area: facts;
  }
  
  .facts ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    margin:0;
  }
  
  .facts ul li {
    display: inline-block;
    margin: 5px;
    border-radius: 5%;
    border: 1px solid rgb(255, 211, 211); 
  }
  
  .facts ul span {
    display: block;
    text-align: center;
    padding: 1rem;
  }
  
  .facts ul li span:nth-of-type(1){
    background: rgb(255, 211, 211);}